   header {
     text-align: center;
   }
   
   .showcase {
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;


     & .goods-item {
       border: 3px solid black;
       border-radius: 15px;
       width: 23%;
       margin-bottom: 30px;
       text-align: center;

       & h3 {
         color: blue;
       }

       & p {
         color: red;
       }
     }
   }

   footer {
    width: 80%;
    margin: 0 auto;
     border-top: 1px solid black;
   }